
.classic-4 {
    padding-bottom:5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    overflow: hidden;
    color:red;
    text-shadow: 0 0 0 #000,10ch 0 0 #000;
    background:linear-gradient(red 0 0) bottom left/0% 3px no-repeat;
    animation:c4 1.5s infinite;
  }
  .classic-4:before {
    content:"Loading...";
  }
  @keyframes c4 {
      80%  {text-shadow:    0  0 0 #000,10ch 0 0 #000;background-size:100% 3px}
      100% {text-shadow: -10ch 0 0 #000,0    0 0 #000}
  }
  